@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#__next {
  height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.text-custom {
  font-size: max(2rem,min(calc(0.89796rem + 3.0122vw), 3.5rem));
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1.107;
  max-width: 46rem;
  margin-top: 8vw !important;
  margin-bottom: 6rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border: 0 solid #e2e2e4;
  text-align: center;
}

.react-scroll-to-bottom--css-uzqrz-79elbk {
  position: relative;
}

.react-scroll-to-bottom--css-ikyem-1n7m0yu {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}
